/* General Styles */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-header {
  background-color: #283c44; /* Darker background for the header */
  min-height: 60px; /* Reduce height for a more compact header */
  display: flex;
  flex-direction: row; /* Align header items horizontally */
  align-items: center;
  justify-content: space-between; /* Add spacing between logo and nav */
  padding: 0 20px;
  font-size: 18px;
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
.navbar-logo {
  height: 300px; /* Set the desired height */
  width: auto;  /* Maintain aspect ratio */
  margin-right: 10px;
}
.App-link:hover {
  text-decoration: underline;
}

/* Campground List */
.camp-list {
  text-align: center;
}

.camp-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards across */
  gap: 20px;
  justify-items: center;
}

.camp-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.camp-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.camp-cord {
  font-size: 1em;
  color: #666;
}

.camp-actions {
  margin-top: 10px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 1.2em;
}
.camp-actions a,
.camp-actions button {
  background-color: #61dafb;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.camp-actions button {
  background-color: #e74c3c; /* Red color for delete button */
}

.camp-actions button:hover {
  background-color: #c0392b;
}

.camp-actions a:hover {
  background-color: #45a1f1;
}

button.delete-button {
  background-color: #e74c3c;
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .camp-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .camp-actions {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
