/* General Styles */
/* General Styles */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-header {
  background-color: #283c44;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  color: white;
}

.navbar-logo {
  height: 100px; /* Adjust the height for a more reasonable size */
  width: auto;  /* Maintain aspect ratio */
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-logo {
    height: 60px; /* Make the logo smaller on mobile screens */
  }
}

.camp-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
  gap: 20px;
  justify-items: center;
}

.camp-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.camp-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.camp-cord {
  font-size: 1em;
  color: #666;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .camp-cards-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media screen and (max-width: 768px) {
  .camp-cards-container {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}
