/* Campground Details*/

.view-camp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.map-camp-section {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.map-container {
  flex: 1;
  margin-right: 50px;
}

.map-placeholder {
  background-color: white;
  background-image: url('./map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  color: #555;
}

.camp-details {
  flex: 1.5;
  background-color: white;
}

/* Review Section */

.review-section {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;

}

.review-section h2 {
  margin-bottom: 10px;
}
/* Moved css to components/reviews css file */
/*
.review-section textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.review-section button {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
*/
/* Similar Campgrounds */
.similar-campgrounds {
  width: 80%;
  max-width: 1200px;
}
.similar-campgrounds h2 {
  margin-bottom: 20px;
  background-color: white;
}
.campgrounds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.camping-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

  